<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Books/List">Книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Books/List/paper">Бумажные книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Books/List/electro">Электронные книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Authors/">Авторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ShopBasket/">Корзина</a>
                </li>
            </ul>
           @if (User.Identity.IsAuthenticated)
               {
                   <p style="color: rgba(255,255,255,.5) ;margin-top: 21px;">@User.Identity.Name</p>
           
                   <form method="post" asp-controller="Account" asp-action="Logout">
                       <input type="submit" value="Выход"/>
                   </form>
               }
               else
               {
                   <a asp-controller="Account" asp-action="Login">Вход</a>
                   <a asp-controller="Account" asp-action="Register">Регистрация</a>
               }
        </div>
    </nav>
</header>
<div class="container" mt-5>@RenderBody()</div>
<footer class="container">
    <p class="float-right">
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
</html>