<div class="form__container">
    <div class="form">
        <div class="form__title">Error</div>
        <div class="form__container" style="flex-wrap: wrap">
            <div class="form__field" style="border-top: 1px solid #dee2e6; padding-top: 20px">
                @TempData["text_main"]
            </div>
            <div class="form__field">
                @TempData["text"]
            </div>
        </div>
    </div>
</div>