<h1>Все книги</h1>
<h3>@Model.CurrCategory </h3>
<div class="row mt-5 mb-2">
    @{
        foreach (Book book in Model.AllBooks)
        {
            @Html.Partial("AllBooks", book)
        }
    }
</div>