@model HomeViewModel
<h1>Популярные книги</h1>
<div class="row mt-5 mb-2">
    @{
        foreach (var book in Model.MainBooks)
        {
            @Html.Partial("AllBooks", book)
        }
    }
    @if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Выход"/>
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Вход</a>
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
    }
</div>